.container {
  max-width: 420px;
  display: grid;
  margin: 16px auto;
  font-family: Roboto, sans-serif;
}

.hidden {
  display: none;
}

.title {
  display: grid;
  white-space: nowrap;
  h3 {
    display: grid;
    justify-self: center;
    margin-bottom: 0;
  }
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.start-button {
  display: grid;
  justify-items: center;
  margin-bottom: 16px;
}

.stats {
  display: grid;
  margin-bottom: 16px;
}

.results {
  height: 600px;
  font-size: 0.85em;

  mat-label {
    display: block;
    height: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .results {
    font-size: 0.75em;
  }
}
