<div class="container">
  <div class="title">
    <h3>Monty Hall Problem Demonstration</h3>
  </div>
  <div>
    <p>
      For an explanation of the probability theory behind the Monty Hall
      Problem, click
      <a
        href="https://betterexplained.com/articles/understanding-the-monty-hall-problem/"
        target="_blank"
        >here</a
      >.
    </p>
    <p>
      The expected win percentage by changing doors is always (number of doors -
      1) / (number of doors). Probabilities are best demonstrated over a large
      number of iterations, so it is recommended to run the simulation for at
      least 1,000 rounds.
    </p>
  </div>
  <div class="inputs">
    <mat-form-field>
      <mat-label>Number of Doors</mat-label>
      <input
        matInput
        type="number"
        min="3"
        [(ngModel)]="doorCount"
        (blur)="onBlurDoorCount()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number of Rounds</mat-label>
      <input
        matInput
        type="number"
        min="1"
        [(ngModel)]="roundCount"
        (blur)="onBlurRoundCount()"
      />
    </mat-form-field>
  </div>
  <div class="start-button">
    <button
      [class.hidden]="gameInProgress()"
      mat-raised-button
      color="primary"
      #startButton
      (click)="startGame()"
    >
      Start Game
    </button>
  </div>
  <div class="stats">
    <mat-label
      >Expected approx win % by changing doors:
      {{
        ((doorCount() - 1) / doorCount()) * 100 | number: "1.0-0"
      }}%</mat-label
    >
    <mat-label>Rounds played: {{ roundsPlayed() | number: "1.0-0" }}</mat-label>
    <mat-label
      >Rounds won by changing door: {{ changeWinCount() | number: "1.0-0" }} ({{
        (changeWinCount() / roundsPlayed()) * 100 | number: "1.2-2"
      }}%)</mat-label
    >
    <mat-label
      >Rounds won by keeping first choice:
      {{ keepWinCount() | number: "1.0-0" }} ({{
        (keepWinCount() / roundsPlayed()) * 100 | number: "1.2-2"
      }}%)</mat-label
    >
  </div>
  <div class="results">
    @for (result of results(); let i = $index; track i) {
      <mat-label>{{ result }}</mat-label>
    }
  </div>
</div>
