.container {
  max-width: 500px;
  display: grid;
  margin: 16px auto;
  padding: 16px;
  font-family: Roboto, sans-serif;
}

.title {
  display: grid;
  justify-items: center;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.start-button {
  display: grid;
  justify-items: center;
  margin-bottom: 16px;
}

.stats {
  display: grid;
  justify-items: start;
  margin-bottom: 16px;
}

.results {
  max-height: 600px;
  overflow: auto;
  display: grid;
  justify-items: start;
}
